@model IEnumerable<CRUD_Productos_Semana11_NET.Models.Producto>

@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Create New", "AgregarProducto")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadPorUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unidadExistencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unidadPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nivelNuevoPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suspendido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadPorUnidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidadExistencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidadPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nivelNuevoPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suspendido)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditarProducto", new { id=item.id }) |
            @Html.ActionLink("Delete", "BorrarProducto", new { id=item.id })
        </td>
    </tr>
}

</table>
